extends layout

block content

  if user
    h1 Welcome Back !{user.username}
    a(href="/log-out") Logout
    br
    a(href="/new-post") Post a new message

  else 
    div(class="w-100 h-100 d-flex justify-content-center align-items-center")
      div(class="w-25 h-50 bg-light rounded-1 d-flex flex-column align-items-center")
        h1 Log In 

        form(action="/log-in" method="POST" class="d-flex flex-column align-items-center")
          input(class="m-4 rounded-1 border-0" name="username" placeholder="Username" type="text")
          input(class="m-1 rounded-1 border-0" name="password" placeholder="Password" type="password")
          input(class="m-1 rounded-1 border-0" type="submit" value="Sign In")
        
        a(href="/sign-up" style="text-decoration: none") Or Sign Up
        

  